@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700;800;900&display=swap');

@font-face {
  font-family: 'Blanka';
  src: url('assets/Blanka.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PT Mono';
  src: url('assets/PTMono-Regular.ttf');

}

.font-blanka { font-family: 'Blanka'; }

body{

  font-family: 'Urbanist', sans-serif;  
  opacity: 0.96;  
}

.img-container img {
  
  transition: 0.3s;  
}

.img-container img:hover {

  transform: scale(1.05,1.05);
}

@media only screen 
and (min-width: 500px) {

  .img-container img{
    height: 80px;
  }

}

@media only screen 
and (min-width: 1520px) {

  .img-container img{
    height: 95px;
  }

}
 

.btn {

  background: linear-gradient(to right, rgb(97, 87, 255), rgb(0, 230, 204), rgb(97, 87, 255)) 0% 100% / 300%;
}


.btn:hover {

  background: linear-gradient(to right, rgb(97, 87, 255), rgb(0, 230, 204), rgb(97, 87, 255)) 0% 100% / 300%;  
  animation: gradient 6s normal infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}









